.ctrblock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;

    .trava {
        letter-spacing: 30px;
        font-size: 5rem;
        margin-bottom: 40px;
        transition: color 0.5s linear;
    }
}