@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Comfortaa';
    background: var(--background-grad);
    background-size: 400% 100%;
    font-size: 1.25rem;
    color: var(--color);
    margin: 0;
}

header {
    padding: 2vh 2vw 0;
    position: fixed;
}

html[data-theme='dark'] {
    --background-grad: radial-gradient(circle at 100%, #6bbd96, #161617);
    --color: white;
    --border-search: none;
    --border-search-block: 1px solid #007140;
    --background-search-block: #18181a;
    --background-search: #161617;
    --boxshadow-search-block: none
}

html[data-theme='light'] {
    --background-grad: radial-gradient(circle at 100%, #007140, #fff);
    --color: black;
    --border-search: 2px solid rgba(0, 113, 64, 0.4);
    --border-search-block: 1px solid #007140;
    --background-search-block: #fff;
    --background-search: #fff;
    --boxshadow-search-block: 0 0 5px rgba(0, 0, 0, 0.4)
}