@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Comfortaa';
    background: radial-gradient(circle at 100%, #6bbd96, #161617);
    background-size: 400% 100%;
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

header {
    padding: 2vh 2vw 0;
    width: 96.3vw;
    position: fixed;
}