@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Comfortaa';
    background-color: #161617;
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

header {
    padding: 30px 30px 0;
    width: 96.7vw;
    position: fixed;
}